<div class="sidebar sticky-top">        
    <div class="sidebar-section">
        <h5><span>Newsletter</span></h5>
        {% include newsletter.html %}
    </div>
    <!-- div class="sidebar-section">
        <h5><span>Anùncia't al programa de Festa Major!</span></h5>
        <img src="{{site.baseurl}}/assets/images/ad.png">
    </div -->
</div>